<h1>Sign Up</h1>
<div class="container">
    <form [formGroup]="register" (ngSubmit)="onSubmit(register)">
        <label for="name"> NickName:
            <input id="name" type="text" formControlName="name">
        </label>
        <label for="email"> Email:
            <input id="email" type="email" formControlName="email">
        </label>
        <label for="password"> Password:
            <input type="password" formControlName="password">
        </label>
        <label for="confPassword"> Confirm Password:
            <input type="password" formControlName="confPassword">
        </label>
        <button [disabled]="register.status === 'INVALID'" type="submit" routerLink="/users"
            (click)="onSubmit(register.value)">Register</button>
    </form>
</div>