<h1>Employees</h1>

<div class="container" [@loadUnload]="loaded ? 'load' : 'unload'">
    <div id="loader">
        <div class="dot"></div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees$ | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>{{employee.age}}</td>
        </tr>
    </tbody>
</table>