<a [routerLink]="['/']">
    <h1>My store</h1>
</a>

<a [routerLink]="['/cart']" class="button funcy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/whishlist']" class="button funcy-button">
    <i class="material-icons">shopping_cart</i>
    whishlist
</a>

<!-- <a [routerLink]="['/signUp']" class="button funcy-button">
    Sign Up
</a> -->

<a [routerLink]="['/currency']" class="button funcy-button">
    Currencies
</a>

<a [routerLink]="['/exchange']" class="button funcy-button">
    Exchange
</a>

<a [routerLink]="['/dashboard']" class="button funcy-button">
    Dashboard
</a>

<a [routerLink]="['/guard']" class="button funcy-button">
    Guard
</a>

<a [routerLink]="['/signUp2']" class="button funcy-button">
    SignUp-2
</a>

<a *ngIf="!isAuthorized" [routerLink]="['/login']" class="button">
    Log In
</a>

<a *ngIf="isAuthorized" [routerLink]="['/users']" class="button">
    Users
</a>

<a *ngIf="isAuthorized" (click)="logOut()" class="button">
    Log Out
</a>

<a [routerLink]="['/employees']" class="button funcy-button">
    Employees
</a>